[Unit]
Description=Veloren Server
After=network.target
StartLimitIntervalSec=0
  
[Service]
Type=simple
WorkingDirectory=/usr/veloren
ExecStart=/usr/veloren/veloren-server-cli

[Install]
WantedBy=multi-user.target
